* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(38, 38, 38);
}
.calculator {
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: 1px solid #b6b6b6;
  border-radius: 2px;
  padding: 10px;
}
.inputResult {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
input#inputResult {
  height: 30px;
  width: 97%;
  border: 1px solid #e7e7e7;;
}
.arithmetics {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 10px;
  gap: 5px;
}

.arithmetics__cell {
  width: 20%;
  border-radius: 2%;
  border: 1px solid #e7e7e7;
  background-color: #ddd;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.numbersContainer {
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5px;
}
.numbers__1,
.numbers__2,
.numbers__3,
.numbers__4 {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 5px;
  justify-content: center;
}

.numbers__4 {
  align-items: stretch;
}
.numbers__cell {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  height: 30px;
  border-radius: 2%;
  border: 1px solid #e7e7e7;
  background-color: #f9f9f9;
  cursor: pointer;
}

.equal {
  border-radius: 2%;
  cursor: pointer;
  background-color: #1292fd;
  height: 135px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
